<%-include('../partials/head.ejs') %>
<body>
    <%-include('../partials/nav.ejs') %>
    <main>
        <h1>Book Instance Details</h1>
        <ul>
            <li><strong>Title: </strong><%=bookinstance.book.title%></li>   
            <li><strong>Imprint: </strong><%=bookinstance.imprint%></li>
            <li><strong>Status: </strong><%=bookinstance.status%></li>
            <% if(bookinstance.due_back){ %>
            <li><strong>Genre: </strong><%=bookinstance.due_back%></li>  
            <%}%>
            <a href="/catalog/bookinstances/<%=bookinstance._id%>/update">
                <button
                    style="background-color: green; color: white;"
                >
                    Edit
                </button>
            </a> 
            <a href="/catalog/bookinstances/<%=bookinstance._id%>/delete">
                <button
                    style="background-color: red; color: white;"
                >
                    Delete
                </button>
            </a> 
        </ul>
    </main>
    <%-include('../partials/footer.ejs') %>
</body>
</html>