<%-include('../partials/head.ejs') %>
<body>
    <%-include('../partials/nav.ejs') %>
    <main>
        <h1>Genres in the Library</h1>
        <ul>
            <% if(genres.length > 0) { %>
                <% genres.map(genre =>{ %> 
                    <div style="display: flex; gap: 1rem;">
                        <li><%=genre.name%></li>
                        <a href="/catalog/genres/<%=genre._id%>/update">
                            <button
                            style="background-color: green; color: white;"
                            >
                                Edit
                            </button>
                        </a>
                        <a href="/catalog/genres/<%=genre._id%>/delete">
                            <button
                            style="background-color: red; color: white;"
                            >
                                Delete
                            </button>
                        </a>
                    </div>   
                    <hr>
                <%})%>
            <%} else {%>
                <p>There are no genres to display.</p>
            <%}%>
        </ul>
    </main>
    <%-include('../partials/footer.ejs') %>
</body>
</html>