<%-include('../partials/head.ejs') %>
<body>
    <%-include('../partials/nav.ejs') %>
    <main>
        <form action="" method="post">
            <h1>Edit Genre Details</h1>
            <div>
                <label for="name">
                    Genre Name:
                    <input 
                        type="text" 
                        name="name" 
                        id="name" 
                        required
                        placeholder="Eg. Comic"
                        value="<%=genre.name%>"
                    >
                </label>
            </div>
            <div>
                <label for="description">
                    Description
                    <textarea 
                        name="description" 
                        id="description" 
                        cols="50" 
                        rows="7"
                        minlength="50"
                        maxlength="500"
                        required
                    ><%=genre.description ? genre.description : 'Write decription...'%>
                    </textarea>
                </label>
            </div>
            <div>
                <label for="origin">
                    Origin
                    <input 
                        type="text" 
                        name="origin" 
                        id="origin"
                        placeholder="Where was it developed in?"
                        value="<%=genre.origin ? genre.origin : ''%>"
                    >
                </label>
            </div>
            <div>
                <input type="submit" value="Create Genre">
            </div>
        </form>
    </main>
    <%-include('../partials/footer.ejs') %>
</body>
</html>