<%-include('../partials/head.ejs') %>
<body>
    <%-include('../partials/nav.ejs') %>
    <main>
        <h1>Genres in the Library</h1>
        <ul>
            <% if(genres.length > 0) { %>
                <% genres.map(genre =>{ %> 
                    <div style="display: flex; gap: 1rem;">
                        <li>
                            <a href="/catalog/genres/<%=genre._id%>">
                                <%=genre.name%>
                            </a>
                        </li>
                    </div>   
                    <hr>
                <%})%>
            <%} else {%>
                <p>There are no genres to display.</p>
            <%}%>
        </ul>
    </main>
    <%-include('../partials/footer.ejs') %>
</body>
</html>