<%-include('../partials/head.ejs') %>
<%-include('../partials/nav.ejs') %>
<main>
    <h1>Weclome to local Library Online Site</h1>
    <h2>Number of Authors: <%=numAuthors %></h2>
    <h2>Number of Genres: <%=numGenres %></h2>
    <h2>Number of Books: <%=numBooks %></h2>


</main>
<%-include('../partials/footer.ejs') %>